<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="CSS-Style.css">
    

   

</head>
<header>
    <ul id="list-nav">
        <li><a href="index.html">Home</a></li>
        
	   `<li><a href="contact.html">Contact</a></li>
        <li><a href="about.html">About</a></li>
    </ul>
    
    <br>
</header>

<body>
    <form id="form1" action="MAILTO:dilhanx@outlook.com" method="post" style="border-style: solid;border-width: 0px;margin: 0 auto;width:250px; ">
<h1>Contact Us</h1><br><br>
Name:<br>
<input type="text" name="name" value=""><br><br>
E-mail:<br>
<input type="text" name="mail" value=""><br><br>
Subject:<br>
<input type="text" name="subject" value=""><br><br>
Comment:<br>
<textarea id="message" class="input" name="message" rows="4" cols="38"></textarea><br /><br>
<input type="submit" value="Send">
<input type="reset" value="Reset">


</form>
<button onclick="asd(1)"id="b1">Hide</button>
<button onclick="asd(2)"id="b2">Show</button>
<script>
function asd(a)
{
    if(a==1){
    document.getElementById("form1").style.display="none";
    document.getElementById("b1").style.display="none";
    document.getElementById("b2").style.display="block";}
    else{
    document.getElementById("form1").style.display="block";
    document.getElementById("b2").style.display="none";
    document.getElementById("b1").style.display="block";}
}
</script>
</body>
<footer>
    <hr>
    <p><a href="hasith.2015013@iit.ac.lk "style="color:white">hasith.2015013@iit.ac.lk</a></p>
    <script>
        document.write("Last modified:" + Date(document.lastModified) +"");
    </script>
    <br/>


</footer>

</html>