<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="CSS-Style.css">
    

    <title>Index</title>

</head>
<header>
    <ul id="list-nav">
        <li><a href="index.html">Index</a></li>
        <li><a href="index.html#tutorial">Tutorial</a></li>
        <li><a href="Tutorial01-2015013.html">Tutorial01</a></li>
        <li><a href="Tutorial02-2015013.html">Tutorial02</a></li>
        <li><a href="Tutorial03-2015013.html">Tutorial03</a></li>
	<li><a href="Tutorial04-2015013.html">Tutorial04</a></li>
        <li><a href="Tutorial01-2015013.html">About</a></li>
    </ul>
    
    <br>
</header>

<body>
    http://www.twitch.tv/dotamajor

    <h1>ECSC 4071 Web Technology</h1>
    <h3>Module Details</h3>
    <h3>Topics</h3>
    <h4>1 Client Side Technologies</h4> 1.1 HTML
    <br/> 1.2 XHTML
    <br/> 1.3 CSS
    <br/> 1.4 XML
    <br/> 1.5 Java Scripts
    <br/>
    <h4>2 Server Side Technologies</h4> 2.1 PHP
    <br/> 2.2 ASP.NET
    <br/> 2.3 JSP/Servlet
    <h4>3 Internet architecture</h4>
    <h3>Assesment criterias</h3> 1 Tutorial-20%
    <br/> 2 Group assignment-30%
    <br/> 3 ICT-50%
    <br/>
    <h3>Lectures</h3> 1 Mr.Sriyal Jayasinghe
    <br/> 2 Ms.Aloka Fernando
    <br/>
    <h3>Tutorials index<a name="tutorial"></h3>
    <a href="Tutorial01-2015013.html">Tutorial 01</a>
    <br/>
    <a href="Tutorial02-2015013.html">Tutorial 02</a>
    <br />
    <a href="Tutorial03-2015013.html">Tutorial 03</a>
    <br/>
    <a href="Tutorial04-2015013.html">Tutorial 04</a>
    <br/>
</body>
<footer>
    <hr>
    <p><a href="hasith.2015013@iit.ac.lk "style="color:grey">hasith.2015013@iit.ac.lk</a></p>
    <script>
        document.write("Last modified:" + Date(document.lastModified) +"");
    </script>
    <br/>


</footer>

</html>