<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="CSS-Style.css">
    <title>Ancient  World</title>
    <link rel="icon" href="title.png">
   

</head>
<header>
    <div id="nav"style="position: fixed;">
        <ul id="yourID">
        <li ><img src="title.png" height="42" width="42"></li >
        <li ><a href="#top"><span style="!important; color:blue; font-size: 150%;">Ancient  World</span></a></li>
        <ul id="rightnav"style="float:right;">
        <li><a href="#introduction">Introduction</a></li>
        <li><a href="#requierments">Requierments</a></li>  
        <li><a href="#buy">Buy</a></li>  
        <li><a href="#screenshots">Character Sheet</a></li>    
	   `<li style=><a href="#contact" >Contact</a></li>
        <li><a href="#about">About</a></li>
        </ul>
    </ul>
    </div>
    
    <br>
</header>

<body>
   
    <img src="preview.jpg"width="100%" ></li >
    <a href="http://www.freepik.com"style="float:right;">Selected by freepik</a>
    <hr>
    <a name="introduction"></a>
    <br>
    <br> 
    <div style=" background-color:aqua;">
    <h1><center>Introduction</center></h1>
    <h3><center>Ancient World is a tabletop rpg.Gather allies and ready for a fight.Play to find out what happens.</center></h3>
    </div>
     <hr>
    
    <br>
    <a name="features"></a>
    <div style="background-color:gainsboro;">
    <h2 >Features</h2>
     <P ><h3>Fantasy Adventure</h3>Explore a land of magic and danger in the roles of adventurers searching for fame, gold, and glory.<br> Ancient World takes Medival fantasy and approaches it with new rules.</P>
     <P "><h3>Talk About What Matters</h3>Ancient World's simple rules happen based on what's happening within the game, so you spend more time talking about the action and less time talking about the rules.</P>
     <P ><h3>No Dead Ends</h3>The rules always drive the action forward in unexpected ways. Rolling the dice always leads to an interesting outcome.</p>
     <P ><h3>Powerd by Apocalypse engine</h3>.Uses the award winning system to bring the best experince to the players.
    <a name="requierments"></a>
     <hr>
    
    <br>
    <h2 >Requierments</h2>
    <ol>
           <li> 2-5 players.1 should be the DM.</li>
           <li>Digital or print copy of the rules</li>
           <li> Either
               <ul>
                   <li>A roleplaying software</li>
                   <li>Pen and paper and 2d6</li>
           </li>
    </ol>
    <a name="buy"></a>
    
    <hr>
    <br>
    <h1>Buy</h1>
    Ancient World is still in earl developement.We will update you when the beta starts.
    <br>While you wait checkout <a href="http://www.dungeon-world.com"style="color:green">Dungeon world </a>the base system.
    <div>
     <a name="screenshots"></a>
        
    <hr>
    <br>
    <h1>Character Sheet Template</h1>
    <a href="Artificer.pdf"><img src="artificer.png"  height="100" width="100">
    <a href="cleric.png"><img src="cleric.png"  height="100" width="100">  
    <a href="fronts.png"><img src="fronts.png"  height="100" width="100">  
    <a name="contact"></a>     
    
    <hr>
    <br>
    <h1>Contact Us</h1>
    Have any questions?Send them throught the form below<br>
    <div id="form" style="display: none;">
    <form id="form1" action="MAILTO:dilhanx@outlook.com" method="post" style="border-style: solid;border-width: 0px;margin: 0 ;width:250px; ">
        
        Name:<br>
        <input type="text" name="name" value=""><br><br>
        E-mail:<br>
        <input type="text" name="mail" value=""><br><br>
        Subject:<br>
        <input type="text" name="subject" value=""><br><br>
        Comment:<br>
        <textarea id="message" class="input" name="message" rows="4" cols="38"></textarea><br /><br>
        <input type="submit" value="Send">
        
        </form>
        </div>
     <a href="javascript:hideshow(document.getElementById('form'))"><input type="button"value="Show/Hide"></a>   
        </body>
      <a name="about"></a>       
      
      <hr>
      <br>
      <h1>About Us</h1>
      Members:
      <ul>
          <li>Hasith Wijesinha</li>
          <li>Harith Wijesinha</li>
      <script type="text/javascript">
        function hideshow(which){
        if (!document.getElementById)
        return
        if (which.style.display=="block")
        which.style.display="none"
        else
        which.style.display="block"
        }
        </script>    
<footer >
    <hr>
    Copyright © Sage Kobold 2015
    <p><a href="hasith.2015013@iit.ac.lk "style="color:white">hasith.2015013@iit.ac.lk</a></p>
    <p><a href="harith.2015012@iit.ac.lk "style="color:white">harith.2015012@iit.ac.lk</a></p>
    <script>
        document.write("Last modified:" + Date(document.lastModified) +"");
    </script>
    <br/>
    

</footer>

</html>